@using App.MvcPages.RequestLog
@model X.PagedList.IPagedList<App.MvcPages.RequestLog.RequestIndexModel>

@{
	ViewBag.Title = "Site Request Log";
	Layout = "_DashboardLayout";
}

@section PageHead
{
	<h1>
		Site Request Log
		<small>View, Mutate, Implicate, Expunge</small>
	</h1>
	<ol class="breadcrumb">
		<li>Home</li>
		<li><i class="fa fa-dashboard"></i> Dashboard</li>
		<li><i class="fa fa-gear"></i> Admin</li>
		<li class="active">Request Log</li>
	</ol>
}

<h2>999+ Requests logged</h2>

<table class="table table-bordered table-striped table-hover">
	<tr>
		<th>Id</th>
		<th>Date</th>
		<th>Method</th>
		<th>URL</th>
		<th>IP</th>
		<th>Status</th>
		<th>Time</th>
	</tr>
	@foreach (RequestIndexModel item in Model)
	{
		<tr>
			<td>@item.RequestLogId</td>
			<td>@item.RequestBegin.ToString("yyyy-MM-dd hh:mm:ss.fff tt")</td>
			<td>@item.RequestMethod</td>
			<td>@item.URL</td>
			<td>@item.IP</td>
			<td>@item.ResponseStatus</td>
			<td>
				@if (item.ResponseMs == null)
				{
					<span class="text-danger">In Progress:</span>
					@(DateTime.Now.Subtract(item.RequestBegin).TotalMilliseconds)
					<text>ms.</text>
				}
				@item.ResponseMs ms.
			</td>
		</tr>
	}
</table>

@*@using (Html.BeginForm("Index", "Message", FormMethod.Post, new {/*Extra params or something*/}))
{
	if (ViewBag.info != "")
	{
		<div class="alert alert-info">@ViewBag.info</div>
	}

	<div class="form-group">
		<label>Add Message</label>
		<input class="form-control" name="message" placeholder="Your Content Here"/>
	</div>

	<p>
		<button type="submit" class="btn btn-primary">Add Message</button>
	</p>
}*@
