@using App.MvcPages.RequestLog
@using App.Util
@model IndexViewModel

@{
	ViewBag.Title = "Site Request Log";
	Layout = "_DashboardLayout";
	RequestLogIndexOptions options = Model.Options;
}

@section Scripts
{
	<script src="Index.js" asp-append-version="true"></script>
}

@section PageHead
{
	<h1>
		Site Request Log
		<small>View, Mutate, Implicate, Expunge</small>
	</h1>
	<ol class="breadcrumb">
		<li>Home</li>
		<li><i class="fa fa-gear"></i> Admin</li>
		<li class="active">Request Log</li>
	</ol>
}

<h2>@Model.PagedItems.TotalItemCount requests logged</h2>
@using (Html.BeginForm("Index", "RequestLog", FormMethod.Post, new {/*Extra params or something*/}))
{
	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-search"></i> &nbsp;Log Search
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>Request Log ID</label>
						<input class="form-control" name="RequestLogId" value="@options.RequestLogId" />
					</div>

					<div class="form-group">
						<label>In Progress</label>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="InProgress" @(options.InProgress ? "checked" : "") />
								Requests In Progress
							</label>
						</div>
					</div>

					<div class="form-group">
						<label>Detail Viewer</label>
						<select id="detailType" name="DetailType" class="form-control">
							<option value="Modal" @(options.DetailType == RequestLogDetailType.Modal ? "selected" : "")>
								Modal Popup
							</option>
							<option value="SamePage" @(options.DetailType == RequestLogDetailType.SamePage ? "selected" : "")>
								Separate Page
							</option>
							<option value="NewPage" @(options.DetailType == RequestLogDetailType.NewPage ? "selected" : "")>
								Separate Page (in new tab)
							</option>
							<option value="Panel" @(options.DetailType == RequestLogDetailType.Panel ? "selected" : "")>
								On-page Panel
							</option>
							<option value="All" @(options.DetailType == RequestLogDetailType.All ? "selected" : "")>
								All
							</option>
						</select>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label>Start Date</label>
						<input class="form-control" name="StartDate" value="@options.StartDate.ToStandardDate()" />
					</div>

					<div class="form-group">
						<label>End Date</label>
						<input class="form-control" name="EndDate" value="@options.EndDate.ToStandardDate()" />
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label>Request Method</label>
						<input class="form-control" name="RequestMethod" value="@options.RequestMethod" />
					</div>

					<div class="form-group">
						<label>Response Status</label>
						<input class="form-control" name="ResponseStatus" value="@options.ResponseStatus" />
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label>URL</label>
						<input class="form-control" name="URL" value="@options.URL" />
					</div>

					<div class="form-group">
						<label>IP</label>
						<input class="form-control" name="IP" value="@options.IP" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-file-text-o"></i> &nbsp;Results
		</div>

		<div id="logResultTable" class="panel-body">
			<partial name="_IndexResultTable" model="Model.PagedItems"></partial>
		</div>
	</div>
}

<div id="requestLogDetailPanel"></div>

<div id="requestLogDetailModal" class="modal fade"></div>
